<div>
    <button class="btn btn-light close-btn" ng-click="addNewPersonCtrl.closeCard()"><i class="fa fa-times fa-2"></i>
    </button>
    <!--<img src="img_avatar.png" alt="Avatar" style="width:100%">-->
    <div class="container">
        <h4 class="center-flexbox-items new-person-title"><b>הוספת חייל חדש</b></h4>
        <div class="row-flexbox property-bottom-margin">
            <span class="person-property">שם מלא:</span>
            <input type="text" ng-bind="addNewPersonCtrl.person.name" class="ng-binding">
        </div>
        <div class="row-flexbox">
            <span class="person-property">שם מפקד:</span>
            <div id="the-basics">
                <input class="typeahead" type="text" placeholder="">
            </div>
        </div>
    </div>
    <button type="button" class="btn btn-success send-btn" ng-click="addNewPersonCtrl.addNewPerson()">מחק אדם</button>
</div>